header nav img {
  max-width: 185px;
}

header nav .navbar-toggler {
  font-size: 1rem;
}

header nav .collapse.navbar-collapse .navbar-nav {
  font-weight: 400;
}

header nav .collapse.navbar-collapse .navbar-nav a {
  color: #073256;
}

header nav .collapse.navbar-collapse .navbar-nav a.me-lg-4 {
  border-bottom: 1px solid #073256;
  /* padding-bottom: 1rem; */
}

@media (min-width: 992px) {
  header nav .collapse.navbar-collapse .navbar-nav a.me-lg-4 {
    border-bottom: none;
    border-right: 1px solid #073256;
    padding-right: 2rem;
  }
}

header nav .collapse.navbar-collapse .navbar-nav .d-flex {
  /*  @include responsive($medium) {
                        margin-top: 1rem;
                    } */
}

header nav .collapse.navbar-collapse .navbar-nav .d-flex a:first-child {
  font-weight: bold;
}

@media (min-width: 1400px) {
  .home .container {
    max-width: 1200px;
  }
}

.home h1 {
  font-size: 1.175rem;
  font-weight: 700;
  color: #073256;
}

@media (min-width: 992px) {
  .home h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1400px) {
  .home h1 {
    font-size: 3.175rem;
  }
}

.home p {
  color: #AFC3D3;
  font-weight: 400;
  width: 100%;
}

.home .info-buttons {
  max-width: 90%;
}

.home .info-buttons .btn--gray {
  color: #fff;
  background-color: #AFC3D3;
  border-color: #AFC3D3;
  border-radius: 20px;
}

.home .info-buttons .btn--blue {
  color: #fff;
  background-color: #073256;
  border-color: #073256;
  border-radius: 20px;
}

.home img {
  max-width: 100%;
  max-height: 50vh;
  height: auto;
}

.services {
  background-color: #EBEEF2;
}

.services .container .row:first-child .title h3 {
  color: #073256;
  font-size: 1.2rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .services .container .row:first-child .title h3 {
    font-size: 1.8rem;
  }
}

.services .container .row:nth-child(2) .service-item {
  max-width: 100%;
}

.services .container .row:nth-child(2) .service-item .service-image img {
  width: 50%;
  height: 50%;
}

.services .container .row:nth-child(2) .service-item h4 {
  color: #073256;
  font-size: 1rem;
  font-weight: 700;
}

.services .container .row:nth-child(2) .service-item .btn--gray {
  color: #fff;
  background-color: #AFC3D3;
  border-color: #AFC3D3;
  border-radius: 20px;
}

.services .container .row:nth-child(3) .col-3:not(:last-child) {
  border-right: 1px solid #073256;
}

@media (min-width: 992px) {
  .services .container .row:nth-child(3) .col-3 {
    max-width: 100%;
  }
}

.services .container .row:nth-child(3) .service-item .service-image {
  max-height: 80px;
  margin-bottom: 1.5em;
}

.services .container .row:nth-child(3) .service-item .service-image img {
  width: 100%;
  height: 100%;
}

.services .container .row:nth-child(3) .service-item h4 {
  color: #073256;
  font-weight: 700;
  max-width: 80%;
}

@media (min-width: 992px) {
  .services .container .row:nth-child(3) .service-item h4 {
    max-width: 70%;
  }
}

@media (min-width: 1200px) {
  .services .container .row:nth-child(3) .service-item h4 {
    max-width: 80%;
  }
}

@media (min-width: 1400px) {
  .services .container .row:nth-child(3) .service-item h4 {
    max-width: 100%;
  }
}

.services .container .row:nth-child(3) .service-item .btn--gray {
  color: #fff;
  background-color: #AFC3D3;
  border-color: #AFC3D3;
  border-radius: 20px;
}

.services .container .row:last-child .btn--white {
  color: black;
  background-color: #FFF;
  border-color: #FFF;
  border-radius: 20px;
}

.quotes figure .blockquote p {
  color: #212529;
  font-size: 0.875rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .quotes figure .blockquote p {
    font-size: 1rem;
    font-weight: 600;
  }
}

.quotes .row:last-child .btn--blue {
  color: #fff;
  background-color: #073256;
  border-color: #073256;
  border-radius: 20px;
}

.contact h3 {
  color: #073256;
  width: 85%;
  font-size: 1.7rem;
  font-weight: bold;
}

@media (min-width: 576px) {
  .contact h3 {
    width: 100%;
  }
}

.contact .btn--gray {
  color: #fff;
  background-color: #AFC3D3;
  border-color: #AFC3D3;
  border-radius: 20px;
}

footer {
  background-color: #F8F9FA;
}

@media (min-width: 1400px) {
  footer .container {
    max-width: 1150px;
  }
}

footer h2 {
  color: #073256;
  font-weight: bold;
  font-size: 1.4rem;
}

@media (min-width: 992px) {
  footer h2 {
    font-size: 1.6rem;
  }
}

footer small.copyright {
  color: #333;
  font-weight: 700;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: #3A567D;
}

footer ul li a:hover {
  color: #073256;
}

footer address {
  font-weight: 500;
}

footer address h3 {
  color: #073256;
  font-size: 1.275rem;
  font-weight: bold;
}

@media (min-width: 1400px) {
  .our-services .container {
    max-width: 1200px;
  }
}

.our-services h1 {
  color: #073256;
  font-size: 2.375rem;
  font-weight: bold;
}

.our-services .service-item {
  max-width: 100%;
}

.our-services .service-item .service-image img {
  width: 50%;
  height: 50%;
}

.our-services .service-item h4 {
  color: #073256;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .our-services .service-item h4 {
    font-size: 1.9rem;
  }
}

.our-services .service-item p {
  font-size: 0.9rem;
  width: 100%;
}

.our-services .service-item .btn--gray {
  color: #fff;
  background-color: #AFC3D3;
  border-color: #AFC3D3;
  border-radius: 20px;
}

@media (min-width: 1400px) {
  .about .container {
    max-width: 1200px;
  }
}

.about h1 {
  font-size: 1.175rem;
  font-weight: 700;
  color: #073256;
}

@media (min-width: 992px) {
  .about h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1400px) {
  .about h1 {
    font-size: 3.175rem;
  }
}

.about p {
  color: #AFC3D3;
  font-weight: 400;
  width: 100%;
}

.about .info-buttons {
  max-width: 90%;
}

.about .info-buttons .btn--gray {
  color: #fff;
  background-color: #AFC3D3;
  border-color: #AFC3D3;
  border-radius: 20px;
}

.about .info-buttons .btn--blue {
  color: #fff;
  background-color: #073256;
  border-color: #073256;
  border-radius: 20px;
}

.about .img-container img {
  max-width: 100%;
  max-height: 80vh;
  height: auto;
}

.our-team {
  background-color: #EBEEF2;
}

.our-team h2 {
  color: #073256;
  font-weight: bold;
  font-size: 1.3rem;
}

.our-team .team-images .member-container .profile-picture {
  height: 180px;
  width: 100%;
}

@media (min-width: 576px) {
  .our-team .team-images .member-container .profile-picture {
    height: 240px;
    width: 240px;
  }
}

@media (min-width: 768px) {
  .our-team .team-images .member-container .profile-picture {
    height: 150px;
    width: 150px;
  }
}

@media (min-width: 992px) {
  .our-team .team-images .member-container .profile-picture {
    height: 210px;
    width: 210px;
  }
}

@media (min-width: 1200px) {
  .our-team .team-images .member-container .profile-picture {
    height: 255px;
    width: 255px;
  }
}

.our-team .team-images .member-container .profile-picture img {
  height: 100%;
  width: 100%;
}

.our-team .team-images .member-container h3 {
  color: #073256;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */